<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Big Dave's News</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>nflx</string>
		<string>nfb</string>
		<string>hbomax</string>
		<string>hmax</string>
		<string>disneyplus</string>
		<string>aiv</string>
		<string>amzn</string>
		<string>hulu</string>
		<string>com.apple.tv</string>
		<string>videos</string>
		<string>paramountplus</string>
		<string>cbs</string>
		<string>peacock</string>
	</array>
</dict>
</plist>
